<header>
  <h1 class="title">ようこそBookersへ！</h1>
</header>
<body>
  <h4 class="text">Bookersでは、さまざまな書籍に関するあなたの意見や<br/>
  印象を共有し交換することができます<br/>
  <%= link_to 'start', "/books", method: :get %>
  </h4>
</body>
